/.idea/dataSources/31b19340-ec2b-411f-a6e3-cf2cb72e3884.xml
/avatars/ahri.png
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/dataSources/31b19340-ec2b-411f-a6e3-cf2cb72e3884/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/School-Platform.iml
/.idea/sqldialects.xml
/test.php
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/workspace.xml
/Design/~$Tao.docx
.DS_Store
Webpage/html/.DS_Store
Webpage/.DS_Store
/Controller_and_Model/test.php
Design/.DS_Store
Controller_and_Model/Model/LoginCredentials.php
Design/.DS_Store
Design/.DS_Store
.DS_Store
