.register-box{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    opacity:0;
    z-index: 2;
    width:450px;
    margin:0 auto;
    background-color:white;
    border-radius: 10px;
    padding:20px;
}
.register-box-input-text{
    border:1px solid #343A3E;
    width:430px;
    font-size:20px;
    margin-top:10px;
    border-radius:5px;
    padding:10px;
    color:#212529;
}
.box-button{
    text-align:center;
    width:450px;
    margin-top:20px;
    background-color:#1BA2B9;
    color:white;
    border:none;
    padding:10px;
    font-size:18px;
    border-radius:5px;
    cursor: pointer;
}